@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html, body{
    /* height: 100%; */
}
hr{
    margin: 45px 0;
    border-color: #A7A8AA;
}
body{
    color: var(--color-font);
    background-color: #F2F2F2;
}
header, footer{
    background: #fff;
}
header{
    z-index: 999;
}
header.sticky img{
    transition: 0.5s;
    max-width: 170px;
    padding: 15px 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .page-wrapper {
padding-top: 88px;
}
header img{
    max-width: 240px;
    padding: 20px 0;
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
}
footer img{
    max-width: 155px;
    padding: 20px 0;
}
footer p{
    line-height: 17px;
    margin: 0;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}
section h1{
    padding: 45px 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1.2px;
}
section h1 span{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
}
.cadastro .title-forms{
    margin-bottom: 15px;
}
.cadastro label{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    display: block;
    font-size: 14px;
}
.title-forms, .cadastro label {
    margin-top: 15px;
}
.cadastro input{
    width: 100%;
    padding: 0 10px;
    height: 40px;
}
.cadastro input::placeholder{
    color: var( --color-placeholder);
}
.cadastro input[type="radio"] + label, .cadastro input[type="radio"]{
    display: inline-block !important;
    width: auto;
    height: 14px;
}
.cadastro input[type="radio"] + label{
    margin: 0px 15px 0px 5px;
}
.cadastro input[type="radio"]{
    /* height: 20px; */
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*Esconde o select para criar um custom*/
}

.select-selected {
background-color: #fff;;
}

/*estilo da seta*/
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #333 transparent transparent transparent;
}

/*seta ativa*/
.select-selected.select-arrow-active:after {
border-color: transparent transparent #333 transparent;
top: 7px;
}

/*estilo para os items inclui o selecionado:*/

.select-items div,.select-selected {
    color: var(--color-font);
    padding: 8px 16px;
    border: 1px solid #D9D9D6;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*items do select customizado:*/
.select-items {
    position: absolute;
    background-color: #fff;
    color: var( --color-placeholder);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*display none para items quando select não esta ativo*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.05);
}

.cadastro textarea{
    border: none;
    width: 100%;
    color: var(--color-font);
    padding: 15px;
}
.cadastro textarea::placeholder{
    color: var(--color-placeholder);
}
.cadastro input[type="submit"]{
    margin: 55px 0px 45px 0px;
    color: #fff;
    background-color: var(--color-button);
    width: auto;
    padding: 20px 24px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0px;
    border: none;
}
.cadastro p.autorize{
    width: auto;    
    display: inline-block;
    margin-bottom: 0;
}
.cadastro input[type="checkbox"]{
    width: auto;
    position: relative;
    top: 4px;
    left: 8px;
}
/*Checkbox Customizado*/

.autorize {
    display: inline-block !important;
    position: relative;
    margin-top: 15px !important;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
  }
  
  /* Hide the browser's default checkbox */
  .autorize input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 4px;
    left: -10px;
    height: 17px;
    width: 17px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  /* On mouse-over, add a grey background color */
  .autorize:hover input ~ .checkmark {
    background-color: var(--color-select-hover);
  }
  
  /* When the checkbox is checked, add a blue background */
  .autorize input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .autorize input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid var(--color-select-check);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*tabela endereços*/

.table{
    padding-bottom: 0px;
    background: #fff;
}
.table .table-info{
    background: var(--color-table-info) !important;
    padding: 20px 20px;
    color: #fff;
}
.table .table_name{
    padding: 10px 20px;
}
.table .table_name p{
    margin: 0;
}
/*table head*/
.table thead th{
    position: relative;
    background: var(--color-table-head);
    font-size: 13px;
    padding: 8px 15px;
    font-weight: 500;
}
.table_endereco tr th.number, .table_endereco tr th.adress, .table_endereco tr th.city, .table_endereco tr th.phone, .table_endereco tr th.uf, .table_endereco tr th.cel-phone, .table_endereco tr th.date {
    text-align: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.table_endereco tr th.edit, .table_endereco tr th.delete{
    width: 51px;
}
.table_endereco tr th.number{
    width: 95px;
    padding: 5px 10px;
}
.table_endereco tr th.uf {
    width: 65px;
    padding: 5px 15px;
}
.table_endereco tr th.city {
    width: 158px;
}
.table_endereco tr th.cel-phone, .table_endereco tr th.phone{
    width: 100px;
}
.table_endereco tr th.adress{
    width: 175px;
}
.table_endereco tr th.date{
    width: 165px;
}
.table tr th span.acs:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #333 transparent transparent transparent;
}
.table tr th span.desc:after {
    position: absolute;
    content: "";
    top: 6px;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: transparent transparent #333 transparent;
}

/* table body */
.table tbody tr {
    background: #fff;
}
.table_endereco tbody tr:nth-child(1){
    color: var(--color-table-selected);
}
.table tbody tr:nth-child(2n){
    background: var(--color-table-linha);
}
.table tbody tr td{
    font-size: 12px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 15px 5px 5px;
}
.table_endereco tbody tr td.edit, .table_endereco tbody tr td.delete, .table_endereco tbody tr td.number, .table_endereco tbody tr td.uf, .table_endereco tbody tr td.date {
    text-align: center
}
.table tbody tr td.edit, .table tbody tr td.delete{
    padding: 5px 5px !important;
    text-decoration: underline;
    cursor: pointer;
}
.table tbody tr td.edit{
    color: var(--color-table-edit);
}
.table tbody tr td.delete{
    color: var(--color-table-delete);
}

.table tbody tr td:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 1;
    pointer-events:initial;
}

.table tbody tr td:hover:after{
    cursor: pointer;
}

.table tbody tr td .tooltip {
    width: auto;
    visibility: hidden;
    background-color: #fff;
    padding: 10px 15px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #333;
}

.table tbody tr td:hover > .tooltip {
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 1;
}
.accordion-table .tabs{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.accordion-table .tabs .arrow{
    position: absolute;
    content: "";
    top: 15px;
    right: 30px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #333 transparent transparent transparent;
}
.accordion-table .tabs p {
    margin-bottom: 0;
    font-size: 11px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 20px;
}
.accordion-table .tabs.active .tab-name{
    background: var(--color-accordion-active);
    font-weight: 700;
    -webkit-box-shadow: 1px 8px 20px -14px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 8px 20px -14px rgba(0,0,0,0.45);
box-shadow: 1px 8px 20px -14px rgba(0,0,0,0.45);
}
.accordion-table .tabs.active{
    -webkit-box-shadow: inset 0px -13px 20px -21px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px -13px 20px -21px rgba(0,0,0,0.45);
    box-shadow: inset 0px -13px 20px -21px rgba(0,0,0,0.45);
}
.accordion-table .tabs.active .arrow{
    border-color: transparent transparent #333 transparent;
    top: 10px;
}
.accordion-table .tabs .informations{
    display: none;
}
.accordion-table .tabs.active .informations{
    padding: 8px 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.accordion-table .tabs .informations p{
    padding: 5px 20px;
    min-width: 100% !important;
}
.accordion-table .tabs .informations p:nth-child(2n){
    background: var(--color-table-linha);
}
.accordion-table .tabs .informations .actions{
    text-align: right;
    padding: 10px 15px;
}
.accordion-table .tabs .informations .actions span{
    text-align: right;
    padding: 0px 5px;
}
.accordion-table .tabs .informations .actions .delete{
    color: var(--color-table-delete);
    cursor: pointer;
}
.accordion-table .tabs .informations .actions .edit{
    color: var(--color-table-edit);
    cursor: pointer;
}


/*tabela telefone*/
.table{
    margin-bottom: 0;
}
.table_telefone{
    padding-bottom: 80px;
    margin-bottom: 0;
}
.visible-xs .table_telefone tr th.phone{
    width: 100%;
}
.table_telefone tr th.phone{
    width: 500px;
    text-align: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.table_telefone tr td.phone{
    padding-left: 15px;
}

.autorize.no-margin{
    margin: 0 !important;
}

.table .add{
    display: inline-block;
    color: var(--color-table-add);
    font-size: 13px;
    text-decoration: underline;
    margin: 23px 0px 20px 28px;
}
.table .pagination{
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}
.table .pagination ol{
    display: flex;
    padding: 0;
    /* margin-left: 15px; */
    list-style: none;
}
.table .pagination li{
    display: inline-block;
    border: 1px solid var( --color-border-paginaton);
    padding: 2px 6px 1px 6px;
    margin: 0;
    font-size: 13px;
    color : var( --color-pagination-active);
}
.table .pagination li.active{
    background: var( --color-pagination-active);
    color: #fff;
}
.table .pagination li #disable #arrow{
    fill: var(--color-arrow-disable) !important;
}
.table .pagination li #active #arrow{ 
    fill: var(--color-arrow-active) !important;
}
.table .data-count{
    display: inline-block;
    float: right;
    margin: 25px 28px 0px 28px;
    font-size: 12px;
}
.table .data-lenght{
    display: inline-block;
    font-size: 12px;
    float: right;
    margin-right: 15px;
}
.table .custom-select{
    margin-left: 5px;
}
.table .select-selected, .table .custom-select{
    width: 35px;
    display: inline-block;
}
.table .select-selected{
    padding: 2px 8px 0px 4px;
    font-size: 12px;
    border-color: rgba(0, 0, 0, 0.1);
}
.table .select-selected:after{
    top: 8px;
    border: 5px solid transparent;
    border-color: #333 transparent transparent transparent;
    left: 22px;
}

/*Tabela Especialidades*/
.table_espcialidade{
    padding-bottom: 1px !important;
}
.table_espcialidade .table-display .table-head{
    position: relative;
    background: var(--color-table-head);
}
.table_espcialidade .table-display .table-head span{
    width: 33%;
    display: inline-block;
    text-align: left;  
    font-size: 13px;
    padding: 8px 15px;
    font-weight: 500;
}
.table_espcialidade .table-display .table-head .confirma{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; 
}
.table_espcialidade.mobile .table-display .table-head .confirma, .table_espcialidade.mobile .table-display .table-head .clinica {
    width: 49%;
}
.table_espcialidade.mobile .table-display .table-head .confirma span, .table_espcialidade.mobile .table-display .table-head .clinica span {
    font-size: 12px;
}
.table_espcialidade.mobile .table-display .table-tab .tab-1 .checks{
    width: 49%;
    padding: 5px 0px !important;
}
.table_espcialidade.mobile .table-display .table-tab .tab-1 .checks label{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.table_espcialidade.mobile .information{
    padding: 0 15px
}
.table_espcialidade.mobile .information .name{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    margin-bottom: 0;
}
.table_espcialidade.mobile .information .name .arrow{
    left: 15px;
}
.table_espcialidade.mobile .information .infos{
    display: none;
    padding: 5px 15px;
}
.table_espcialidade.mobile .information .infos .delete{
    color: var(--color-table-delete);
    cursor: pointer;
    text-align: right;
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
}
.table_espcialidade.mobile .information .infos.active{
    display: block;
}
.table_espcialidade.mobile .information .infos .checks{
    margin-left: 10px;
}
.table_espcialidade .table tr th{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; 
}
.table_espcialidade .table-display .table-tab .tab-0{
    background: var(--color-especialidade-tab)
}
.table_espcialidade .table-display .table-tab .tab-0 > span{
    width: 33%;
    display: inline-block;
    font-size: 13px;
    padding: 8px 25px;
}
.table_espcialidade .table-display .table-tab .tab-0 .checks{
    text-align: center;
}
.table_espcialidade .table-display .table-tab .tab-0 .checks > label{
    font-size: 12px;
    margin-right: 40px;
}
.table_espcialidade .table-display .table-tab .tab-1{
    background: #fff;
    display: none;
}
.table_espcialidade .table-display .table-tab .tab-1 > span{
    display: inline-block;
    font-size: 13px;
    padding: 8px 45px;
}
.table_espcialidade .table-display .table-tab .tab-0 > label{
    font-size: 12px;
}
.table_espcialidade .table-display .table-tab .tab-0 input[type="radio"]{
    height: auto;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2{
    display: none;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .delete{
    width: 90px;
    text-align: right
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .corpo{
    width: 360px;
    padding-left: 15px;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .especialista{
    width: 260px;
    text-align: center;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .cro{
    text-align: center;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .especialista label{
    font-size: 12px;
    margin-right: 40px;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .especialista input{
    height: auto ;
}
.table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .cro, .table_espcialidade .table-display .table-tab .tab-1 .tab-2 table .uf-cro {
    width: 120px;
}
.table_espcialidade.table thead th{
    position: relative;
    background: var(--color-table-head);
    font-size: 13px;
    padding: 8px 15px;
    font-weight: 500;
}
.tab-0.active > span{
    font-weight: 600;
}
.tab-0 .arrow{
    position: relative;
    content: "";
    top: 10px;
    right: 8px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #333 transparent transparent transparent;
}
.hidden-tab{
    display: block !important;
}
.arrow.arrow-action{
    border-color: transparent transparent #333 transparent !important;
    top: 0px;
    top: -10px;
}
.table_delete-corpo {
    padding-bottom: 25px;
}
.table_delete-espcialidade.deleted .table_name, .table_delete-corpo.deleted .table_name{
    background: var(--color-especialidade-deleted);
    color: #fff;
}
.table_delete-espcialidade{
    padding-bottom: 30px !important
}
.table_delete-corpo.deleted.no-padding{
    padding-bottom: 0px !important
}
.table_delete-espcialidade .table-head, .table_delete-corpo .table-head{
    background: var(--color-table-head);
    padding: 8px 15px;
}
.table_delete-corpo tr th.delete{
    width: 120px;
    text-align: center;
}
.table_delete-corpo tr th.corpo{
    width: 400px;
}
.table_delete-corpo tr th.especialidade, .table_delete-corpo tr th.especialista{
    width: 250px;
}
.table_delete-corpo tr td.delete{
    text-align: center;
}
.table_demais_info .table-info{
    background: var(--color-table-head) !important;
    padding-bottom: 10px;
    color: #333;
}
.table_demais_info .checks{
    margin-left: 0px;
    margin-top: 10px;
    display: inline-block;
}
.table_demais_info .checks input{
    border: none;
    height: auto;
}
.formulario_demais_table{
    padding: 15px 20px 35px 20px;
    background: #fff !important;
}
.formulario_demais_table input[type="radio"]{
    height: auto;
}
.formulario_demais_table .select-selected{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) 
{
    .table .pagination{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .table .data-lenght{
        display: inline-block;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
        margin-right: 0px;
    }
}

@media (min-width: 768px) 
{
    .table_demais_info .checks{
        margin-left: 20px;
        margin-top: 0px;
    }
    .table_telefone{
        padding-bottom: 0px;
    }
    .table .pagination{
        display: inline-block;
        position: relative;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .table .data-count{
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
        float: initial;
        margin: 0;
    }
    .table .add{
        display: block;
    }
}

@media (min-width: 1200px) 
{
    .table_endereco{
        padding-bottom: 25px;
        background: #fff;
    }
}

@media (min-width: 992px) 
{
    .no-margin{
        margin: 0 !important;
    }
    .no-padding{
        padding: 0;
    }
    .padding-l{
        padding-left: 7.5px !important;
    }
    .padding-r{
        padding-right: 7.5px !important;
    }
    footer p{
        line-height: 67px;
        font-size: 13px;
        margin-bottom: 0;
    }
}


/*Modal*/
.close-modal-button{
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 15px;
}
.modal-template{
    background: rgba(242, 242, 242, 0.05);
    position: fixed;
    z-index: 999;
    right: 25px;
    left: 25px;
    top: 120px;
    height: 90%;
    display: none;
}
.modal-template input[type="radio"]{
    height: auto;
    margin-left: 10px;
}
.modal-template .container{
    padding: 50px 25px 5px 25px;
    max-width: 1200px !important;
    background: #fff;
    overflow: auto;
    height: 90%;
}
.modal-template input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #333;
}
.modal-template input::placeholder{
    color: rgba(0, 0, 0, 0.1);
}
.modal-template .save, .modal-template .close-modal {
    display: inline-block !important;
    margin-top: 45px !important;
}
.modal-template .close-modal {
    margin-left: 15px !important;
    background: #fff !important;
    border: 1px solid var(--color-button) !important;
    color: var(--color-button) !important;
}
.modal-template{
    right: 25px;
    left: 25px;
}
.modal-template .obrigatorio{
    margin-top: 10px;
    color: var( --color-obrigatorio-modal);
}
.modal-template .add{
    display: inline-block;
    color: var(--color-table-add);
    font-size: 13px;
    text-decoration: underline;
    margin: 23px 0px 20px 28px;
}
.add{
    cursor: pointer
}
.overHidden{
    overflow: hidden;
}
.add-novo-profissional{
    margin-top: 25px;
}
.new-user{
    display: none;
}
.new-user.active{
    display: block
}
.new-user hr{
    margin: 25px 0px 15px 0px;
}

.modal-votacao ol {
    padding: 0;
    margin: 0;
    text-align: center;
}

.modal-votacao ol li{
    color: #fff;
    text-align: center;
    display: flex;
    margin-right: 7.5px;
    margin-top: 7.5px;
    font-size: 18px;
    line-height: 40px;
    list-style: none;
    width: 40px;
    height: 40px;
    display: inline-block;
}


.modal-votacao ol li:nth-child(1){
    background: #B72025;
}
.modal-votacao ol li:nth-child(2){
    background: #D62027;
}
.modal-votacao ol li:nth-child(3){
    background: #F05223;
}
.modal-votacao ol li:nth-child(4){
    background: #F36F21;
}
.modal-votacao ol li:nth-child(5){
    background: #FAA823;
}
.modal-votacao ol li:nth-child(6){
    background: #FFCA27;
}
.modal-votacao ol li:nth-child(7){
    background: #ECDB12;
}
.modal-votacao ol li:nth-child(8){
    background: #E8E73D;
}
.modal-votacao ol li:nth-child(9){
    background: #C5D92D;
}
.modal-votacao ol li:nth-child(10){
    background: #AFD136;
}
.modal-votacao ol li:nth-child(11){
    background: #64B64D;
}
.modal-template textarea{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    margin-top: 10px;
}

@media (min-width: 992px) 
{
    .modal-template{
        right: inherit;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

@media (min-width: 992px) 
{
    .modal-votacao ol {
        text-align: left;
    }
    .modal-votacao ol li{
        line-height: 60px;
        width: 60px;
        height: 60px;
    }
}